.post {
	border-radius: 3px;
	transition: box-shadow 400ms;
	box-shadow: $shadow-1;
	background-color: $white;
	min-height: 452px;
	max-height: 452px;
	min-width: 355px;
	max-width: 355px;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	@extend .animate__animated, .animate__fadeIn;

	&:hover {
		box-shadow: $shadow-hover-2;
		transition: box-shadow 400ms;

		.post__img img {
			transform: scale(1.05);
			transition: transform 400ms ease-in-out;
		}
	}
	&:not(:last-child) {
		margin-bottom: 30px;
	}
	&__img {
		height: 224px;
		img {
			height: 100%;
			width: 100%;
			object-fit: cover;
			transition: transform 400ms ease-in-out;
		}
	}
	&__body {
		padding: 15px 33px 23px;
		flex: 2px;
		display: flex;
		flex-direction: column;

		&__title {
			font-family: $primary-SemiBold;
			font-size: $size-4;
			color: $grey-4;
			margin-bottom: 5px;
			line-height: 27px;
			@include text-limit(2);
			&:hover {
				color: $green-4;
			}
		}
		&__paragraph {
			margin-bottom: 15px;
			@include text-limit(3);
		}
		&__link {
			color: $green-4;
			text-transform: uppercase;
			font-family: $primary-SemiBold;
			margin-top: auto;
			padding: 10px 10px 10px 0;
			align-self: flex-start;
			&:hover {
				color: $grey-4;
			}
		}
	}
}
