@import "../components/menu-icon";

.navbar {
	background-color: $grey-1;
	box-shadow: $shadow-2;
	padding-top: 15px;
	padding-bottom: 15px;

	.brand {
		margin-right: 40px;
	}
	.nav-content {
		flex: 2;
		display: flex;
		align-items: center;
		.nav-link {
			color: $grey-4;
			font-size: $size-3;
			padding: 16px;

			&.active {
				font-family: $primary-bold;
			}
			&:hover {
				color: $green-1;
			}
		}
		.dropdown {
			margin-left: auto;
			margin-right: 35px;
		}
	}
	@media (max-width: 790px) {
		.nav-content {
			background: $grey-1;
			position: fixed;
			top: 0;
			left: -900px;
			right: 0;
			bottom: 0;
			width: 100%;
			flex-direction: column;
			justify-content: center;
			transition: left 400ms ease-in;
			z-index: 9;
			.dropdown {
				margin-left: 0;
				margin-right: 0;
				padding: 16px;
			}
			&.is-active {
				left: 0;
				transition: left 400ms ease-out;
			}
			& > * {
				margin-bottom: 30px;
			}
		}
		.menu-icon-wrapper {
			display: block !important;
		}
	}
}
